* {
  font:12px/15px Arial, Helvetica, sans-serif;
}

body{padding:0px; margin:0px; color:#666; font:11px/15px Arial, Helvetica, sans-serif; }
div, p, ul, h2, h3, h4, h5, img{padding:0px; margin:0px;}
ul{list-style-type:none}

p {
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

h2 {
  font-size: 15px;
  text-align: center;
}

b.menu {
  display: block;
  font-weight: bold;
  text-align: left;
}

b {
  font-weight: bold;
}

/*.title {
  font-weight: bold;
  font-size: 16px;
  display: block;
  text-align: center;
}*/
/*
.label {
	    float: left;
	    width: 20em;
	    text-align: right;
	    clear: left;
	    margin-right: 15px;
	}
*/

#content {
  padding: 10px;
}

#main_wrapper {
  width: auto;
  height: 85px;
}

#content_wrapper{
  margin-top: 15px;
  width:100%;
  height:100%;
}

#menu {
  float: left;
  width: 175px;
  position: absolute;
  text-align:left;
}

#main {
  float: left;
  text-align:center;
  margin-left:177px;
  width: 75%;
  position: absolute;
  overflow: auto;
  }

#main .table {
  text-align: center;
}
  
#imagen_izquierda {
  float: left;
  text-align: left;
  vertical-align: middle;
}

#imagen_derecha {
  float: right;
  text-align: right;
}

#izquierda {
  float: left;
}

#derecha {
  float: right;
}

#header {

  padding: 0px;
  width: auto;
  height: 85px;
}

#linea {

  width:auto;
  height: 30px;
}


/* Estilos para tablas */

table {
		border-collapse:collapse;
                background-color:#EFF4FB;
		border-top:1px solid #686868;
                border-bottom:1px solid #686868;
                border-left:1px solid #686868;
		border-right:1px solid #686868;
		margin-top: 10px;
                margin-bottom: 10px;
                margin-left: auto;
                margin-right: auto;
		color: #333;
                text-align: left;
		left: auto;
		right: auto;
}

td{
		padding:5px;
                text-align: left;
                }

th {
  		padding:5px;
                text-align: left;
}

caption {
		padding: 0 0 .5em 0;
		text-align: left;
		
		font-weight: bold;
		text-transform: uppercase;
		color: #333;
		background: transparent;
}

table a {
		color:#666;
		text-decoration:none;
              
}

table a:link {}

table a:visited {
		font-weight:normal;
		color:#666;
		
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #800080; /* Cambiar este valor para cambiar los colores del tema */
    border: 0px solid #FFF;
    font-size: 8pt;
    padding: 4px;
    color: #FFF;
    height:20px;
    text-align: left;
}
table.tablesorter thead tr .header {
	background-image: url(../../../img/bg.gif);
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer;
        height:40px;
        padding-left: 20px;
}
table.tablesorter tbody tr.odd td {
	background-color:#FFF;
	background-image:url(../../../img/bg.gif);
}
table.tablesorter thead tr .headerSortUp {
height:40px;
	background-image: url(../../../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../../../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #9dc99d;
color:#ffff99;
font-weight: bold;
height:40px;
}

table a:hover {
color:#9dc99d;
}
thead th, tfoot th, tfoot td {
background-color:#800080; /* Cambiar este valor para cambiar los colores del tema */
color:#fff;
}

th {
  font-weight: bold;
}

tfoot td {
		text-align:left;
}

tbody th, tbody td {
		
}

tbody th {
		white-space: nowrap;
}

tbody th a {
		color:#333;
}
.odd {}

.row1 {
  background-color:#EFF4FB;
}

.row2 {
  background-color:#EFF4FB;
}
/* Temas para el menu */

#menu {
        width: 170px;
}

#menu ul, li {
        list-style-type: none;
}

#menu ul {
        margin: 0;
        padding: 0;
}

#menu li {

}
#menu a {
        text-decoration: none;
        color: #fff;
        background: #800080; /* Cambiar este valor para cambiar los colores del tema */
        display: block;
        padding: 3px 6px;
        width: 138px;
}



#menu a:hover {

        background: #fff;
        color: #000;

}


/* Estilos para el treeview*/
.treeview, .treeview ul {
    padding: 0;margin: 0;list-style: none; background-color:#EFF4FB;
}

.treeview ul {
    background-color:#EFF4FB;
    margin-top: 4px;
}

.treeview .hitarea {
	background: url(../../../img/treeview-default.gif) -64px -25px no-repeat;height: 16px;width: 16px;margin-left: -16px;float: left;cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;float:none;
}

.treeview li {
	margin: 0;padding: 3px 0pt 3px 16px;
        background-color:#EFF4FB;
}

.treeview a.selected {
	background-color:#EFF4FB;
}

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { color: red; cursor: pointer; }

.treeview li { background: url(../../../img/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../../../img/treeview-default.gif); }
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.treeview-red li { background-image: url(../../../img/treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(../../../img/treeview-red.gif); }

.treeview-black li { background-image: url(../../../img/treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(../../../img/treeview-black.gif); }

.treeview-gray li { background-image: url(../../../img/treeview-gray-line.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(../../../img/treeview-gray.gif); }

.treeview-famfamfam li { background-image: url(../../../img/treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(../../../img/treeview-famfamfam.gif); }

.filetree li { padding: 3px 0 2px 16px; }

/* Ayuda */

#ayuda {
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
}

/* css/tooltip.css -- fancy tooltips */

span.tool {
  position: relative;   /* this is key */
  cursor: help;
}
 
span.tool span.tip {
  display: none;        /* so is this */
}

/* tooltip will display on :hover event */
 
span.tool:hover span.tip {
  display: block;
  z-index: 100;
  position: absolute;
  top: 1.6em;
  left: 0;
  width: auto;
  padding: 3px 7px 4px 6px;
  border: 1px solid #336;
  background-color: #f7f7ee;
  text-align: left;
  color: #000;
}

#content span.tool:after {
  padding-left: 2px;            /* eye candy */
  content: url(../../../img/bubble.gif);
}

/* css/tooltip.css */

  .width100 { width: 100%;
    }
    
form {
  text-align: left;
}

boton, input[type="submit"], input[type="button"], button{
    text-align: center;
    width: auto;
  }
  
.tdcenter {
  text-align:center;
}

.tdleft {
  text-align: left;
}

.tdright {
  text-align: right;
}

.tdjustify {
  text-align: justify;
}

select{
    width:180px;
    border:1px solid #cdcdcd;
    background-color: #fff;
}
input[type="text"]{
    border:1px solid #cdcdcd;
    background-color: #fff;
}
textarea{
    border:1px solid #cdcdcd;
    background-color: #fff;
}

input[type="password"]{
    border:1px solid #cdcdcd;
    background-color: #fff;
}

cite {
  font-style: italic;
  text-align: center;
  color:#3e4f88;
}
.tdleftobli {
    background:#fff url(../../../img/asterisco.png) repeat-x;
    border:1px solid #fb9191;
}
.tdleft_resaltar
{
    font-weight: bold;
    background-color:#EFF4FB;
    color:#333333;
}
#simplemodal-overlay {background-color:#000; cursor:wait;}
#simplemodal-container {height:400px; width:700px; background-color:#ffffff; color:#9dc99d; border:3px solid #9dc99d;}
#simplemodal-container a.modalCloseImg {background:url(../../../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-18px; cursor:pointer;}
#simplemodal-container #basicModalContent {padding:2px;}
